body {
    background-color: #fff;
    font-family: "Cairo", sans-serif;
}

.gray {
    color: gray;
}

.details_box {
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px 0px;
}

.links {
    text-decoration: none;
    color: black;
    margin: 10px 10px;
}