.cards {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.cards .name_card {
    position: relative;
    padding-bottom: 4px;
}

.cards .name_card::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #1e8dba;
    bottom: 0px;
    z-index: 2;
}

.cards .name_card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    bottom: 0px;
    z-index: 1;
}

.cards .name_card p {
    width: 100%;
}

.cards .card {
    padding: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
}

.cards .card .image {
    text-align: center;
    margin-bottom: 10px;
}

.cards .card .icon i {
    color: gold;
}

.cards .card .side button {
    margin: 10px 10px;
}