.mySwiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}